<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">בוסתן התבלין</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--navbar-collapse collapse d-sm-inline-flex justify-content-end-->
      <div class="navbar-collapse collapse d-sm-inline-flex "
           [ngClass]="{ show: isExpanded }">
        <!--<ul class="navbar-nav flex-grow">-->
        <!--<li class="nav-item"
        [routerLinkActive]="['link-active']"
        [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
    </li>-->
        <!--<li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
    </li>-->
        <!--<li  class="nav-item" [routerLinkActive]="['link-active']"></li>-->
        <!--class="nav-link text-dark" [routerLink]="['/Products']"-->
        <!--</ul>-->
        <button type="button" class="btn" *ngFor="let item of categoryList" (click)="onClkLink('Products/'+item.id+'')">{{item.name}} </button>
        <button type="button" class="btn" (click)="onClkLink('AddProduct')"> הוספת מוצר </button>
      </div>
    </div>
  </nav>
</header>
